<section class="search-result">
    <form class="search-form">
        <div class="container">
            <div class="search-controls">
                <input type="text" class="search-input" value="" ng-model="input">
                <button type="button" class="search-button" ng-click="search()">Search</button>
            </div>
        </div>
    </form>
</section>

<div class="loading-container" ng-show="showLoader">
    <div class="loading">
        <div class="loading-i"></div>
        <div class="loading-i"></div>
        <div class="loading-i"></div>
        <div class="loading-i"></div>
        <div class="loading-i"></div>
        <div class="loading-i"></div>
    </div>
</div>



<section class="container">

    <div class="search-result-i" ng-show="!showLoader && (results.length == 0 || results==undefined)">
        <p class="search-result-title">
            No information found
        </p>
    </div>


    <div ng-repeat="result in results" class="search-result-i">

        <div class="search-result-i">
            <p class="search-result-title">
                {{ result.Package }}
            </p>
            <p class="search-result-description">
                <a target="_blank" class="search-result-description" href="{{result.Homepage}}">{{ result.Homepage }}</a>
            </p>
            <p class="multiline-text">
                {{ result.Description }}
            </p>
            <p class="smultiline-text">
                Maintainer: {{ result.Maintainer }}
            </p>
            <p class="multiline-text">
                Architecture: {{ result.Architecture }}
            </p>
            <p class="multiline-text">
                Version: {{ result.Version }}
            </p>
            <p class="search-result-date">
                SHA1: {{ result.SHA1 }}
            </p>

            <div class="search-result-files">
                <div class="search-result-files-tr" ng-class="{'search-result-files-tr_noticed': result.success !== '' || result.error !== '' }">
                    <div class="search-result-files-td search-result-files-td_name">
                        <a download target="_blank" href="http://archive.ubuntu.com/ubuntu/{{result.Filename}}">{{result.Filename}}</a>
                        &nbsp;&nbsp;<span style="color:gray;">{{result.humanFileSize}}</span>
                    </div>
                    <div class="search-result-files-td search-result-files-td_hash" style="text-align: right;">
                        <span style="font-family: courier; font-size: small;">{{result.SHA1}}</span>
                    </div>
                    <div class="search-result-files-td search-result-files-td_download" style="width:130px;">
                        <div><a class="search-result-files-download" ng-click="getOts(result)" style="cursor: pointer;">OTS Timestamp</a></div>
                        <div><a class="search-result-files-view" target="_blank" href="https://opentimestamps.org/info.html?ots={{result.ots}}">Show Timestamp</a></div>
                    </div>
                    <div class="search-result-files-notice" ng-show="result.success !== '' && result.error === '' ">
                        <p ng-bind-html="trust(result.success)"></p>
                    </div>
                    <div class="search-result-files-error" ng-show="result.error != ''">
                        <p ng-bind-html="trust(result.error)"></p>
                    </div>
                </div>
            </div>

        </div>
    </div>

</section>
